{% extends "base.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'script.js' %}"></script>
{% endblock links %}
    
{% block title %}
    <title>Sign Up</title>
{% endblock title %}

{% block content %}
    
    <div class="container">

        <div class="left">
            <div class="nav">
                <p><i class="fa-solid fa-terminal"></i> Logo</p>
            </div>
            <div class="footer">
                <p class="main">
                    “This library has saved me countless hours of work and 
                    helped me deliver stunning designs to my clients faster than ever before.”
                </p>
                <p class="sub">Sofina Davis</p>
            </div>
        </div>
        <div class="right">
            <div class="nav">
                <p><i class="fa-solid fa-terminal"></i> Logo</p>
            </div>
            <h2>Create an account</h2>
            <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
            <form action="" method="post">

                {% csrf_token %}

                <div class="input-control">
                    <label for="id_username">Username</label>
                    {{ registerform.username }}
                </div>

                <div class="input-control last">
                    <label for="id_email">Email</label>
                    {{ registerform.email }}
                </div>

                <div class="input-control">
                    <label for="id_password">Password</label>
                    {{ registerform.password1 }}
                </div>

                <div class="input-control">
                    <label for="id_password2">Confirm Password</label>
                    {{ registerform.password2 }}
                </div>

                <button type="submit">Sign up</button>

            </form>

            <div class="or-container">
                <hr class="left-hr">
                <span class="or-text"> OR CONTINUE WITH </span>
                <hr class="right-hr">
            </div>

            <div class="sign">
                <div class="box">
                    <i class=" icon fa-brands fa-google"></i>
                    <a href="">Continue with Google</a>
                </div>
                <div class="box">
                    <i class="icon fa-brands fa-github"></i>
                    <a href="">Continue with Github</a>
                </div>
            </div>

            <div class="term">
                <p class="terms">By clicking continue, you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy.</a></p>
            </div>
        </div>
    </div>

{% endblock content %}